<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project_strong.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @project_strong.user_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project_strong.description %>
</p>

<p>
  <strong>Project types:</strong>
  <%= @project_strong.project_types_id %>
</p>

<%= link_to 'Edit', edit_project_strong_path(@project_strong) %> |
<%= link_to 'Back', project_strongs_path %>
