<p id="notice"><%= notice %></p>

<p>
  <strong>Nazwa:</strong>
  <%= @project_strong.name %>
</p>


<p>
  <strong>Opis:</strong>
  <%= @project_strong.description %>
</p>

<%= link_to 'Edytuj', edit_project_strong_path(@project_strong) %> |
<%= link_to 'Wróć', project_strongs_path %>
