<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <%= "Witaj " + current_user.first_name %>
    <span class="fa fa-user"></span> 
  </a>
  <ul class="dropdown-menu">
    <li>
      <div class="navbar-login">
        <div class="row">
          <div class="col-lg-4">
            <p class="text-center">
              <span class="fa fa-user icon-size"></span>
            </p>
          </div>
          <div class="col-lg-8">
            <p class="text-left"><strong><%= current_user.first_name + " " + current_user.last_name %></strong><br/><%= current_user.email %></p>
            <p class="text-left small">Projektów: <%= currentUserProjectsCount() %></p>
            <p class="text-left">
              <%= link_to 'Edytuj profil'.html_safe, edit_user_registration_path, :class => "btn btn-primary btn-block btn-sm" %>
            </p>
          </div>
        </div>
      </div>
    </li>
    <li class="divider"></li>
    <li>
      <div class="navbar-login navbar-login-session">
        <div class="row">
          <div class="col-lg-12">
            <p>
              <%= link_to "Wyloguj", destroy_user_session_path, method: :delete, :class=>"btn btn-danger btn-block"  %>
            </p>
          </div>
        </div>
      </div>
    </li>
  </ul>
</li>